<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.7.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <title>UET API</title>
  <% include ./../partials/header.ejs %>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body class="page-header-menu-fixed">
<!-- BEGIN HEADER -->
<% include ./../partials/page-header1.ejs %>
<!-- END HEADER -->
<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">

  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div class="container">
      <!-- BEGIN PAGE BREADCRUMB -->
      <ul class="page-breadcrumb breadcrumb">
        <li>
          <a href="#">Home</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
          Bảng Điều Khiển       </li>
      </ul>
      <!-- END PAGE BREADCRUMB -->
      <!-- BEGIN PAGE CONTENT INNER -->
      <div class="row">
        <div class="col-md-12">
          <div class="note note-danger note-bordered" style="display: none">
            <p >
              NOTE: The below datatable is not connected to a real database so the filter and sorting is just simulated for demo purposes only.
            </p>
          </div>
          <!-- Begin: life time stats -->
          <div class="portlet light">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-gift font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">THÊM THÔNG BÁO</span>
                <span class="caption-helper">Add notificatin...</span>
              </div>
              <div class="actions">
                <a href="javascript:;" class="btn btn-default btn-circle">
                  <i class="fa fa-plus"></i>
                  <span class="hidden-480">
								New Order </span>
                </a>
                <div class="btn-group">
                  <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-share"></i>
                    <span class="hidden-480">
									Tools </span>
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="javascript:;">
                        Export to Excel </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        Export to CSV </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        Export to XML </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                      <a href="javascript:;">
                        Print Invoices </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="portlet-body">
              <div class="table-container ">
                <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                  <input type="text" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From">
                  <span class="input-group-btn">
											<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
                </div>
                <table class="table table-striped table-bordered table-hover" id="datatable_ajax" >
                  <thead>
                  <tr role="row" class="heading">
                    <th width="15%">
                      Đối Tượng
                    </th>
                    <th widtĐh="42%">
                      Tiêu Đề
                    </th>
                    <th width="20%">
                      Thuộc Tính
                    </th>
                    <th width="15%">
                      Trạng Thái
                    </th>
                    <th width="8%">
                      Hành Động
                    </th>
                  </tr>
                  <tr role="row" class="filter">
                    <td>
                        <select  name="order_status" class="form-control form-filter input-sm " style="margin-bottom: 5px;">
                          <option value="">Select...</option>
                          <option value="pending">Toàn Khoa</option>
                          <option value="closed">Lớp</option>
                          <option value="hold">Sinh Viên</option>
                          <option value=''>Lớp Môn Học</option>
                        </select>
                    </td>
                    <td>
                      <textarea type="text" class="form-control form-filter input-sm" name="order_customer_name" style=" height: 100px !important;"></textarea>
                    </td>
                    <td>
                      <div  id="data-repeater-item">
                        <select  name="order_status[0]" class="form-control form-filter input-sm " style="margin-bottom: 5px;">
                          <option value=''>Select...</option>
                          <option value=''>Học Bổng</option>
                          <option value=''>Tài Chính</option>
                          <option value=''>Tuyển sinh</option>
                          <option value=''>Tuyển dụng</option>
                          <option value=''>Thực Tập</option>
                          <option value=''>Các Cuộc Thi</option>
                          <option value=''>Hội Thảo , Nghiên Cứu</option>
                          <option value=''>Quy chế, Quy định mới</option>
                          <option value=''>Kết Quả Học Tập</option>
                          <option value=''>Triệu Tập</option>
                          <option value=''>Java</option>
                          <option value=''>PHP</option>
                          <option value=''>Android</option>
                          <option value=''>Nodejs</option>
                          <option value=''>JavaScript</option>
                          <option value=''>C/C++</option></select>
                      </div>
                      <button  class="btn btn-success "  onclick="addAttribute()">
                          <i class="fa fa-plus" ></i> Add</button>
                      <button class="btn btn-danger " onclick="deleteAttribute()" >
                        <i class="fa fa-close" ></i> Delete</button>
                    </td>
                    <td>
                      <select name="order_status" class="form-control form-filter input-sm">
                        <option value="pending" style="background: #4B77BE">Bình Thường </option>
                        <option value="closed" style="background: #F7CA18">Quan trọng </option>
                        <option value="hold" style="background: #D91E18">Khẩn</option>
                      </select>
                    </td>
                    <td>
                      <div class="margin-bottom-5">
                        <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-send"></i> GỬI</button>
                      </div>
                      <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i>XÓA</button>
                    </td>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
                <div class="portlet-body form">
                  <form class="form-horizontal form-bordered">
                    <div class="form-body">
                      <div class="form-group">
                        <div class="col-md-12">
                          <div name="summernote" id="summernote_1">
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div id="file-repeater">
                  <input type='file' class='btn btn-primary '  name='files[0]' multiple=''></div>
                <i class="fa fa-plus btn btn-success " onclick="addFileNoti()">Add</i>
                <i class="fa fa-close btn btn-danger" onclick="deleteFileNoti()">Delete</i>
              </div>
            </div>
          </div>
          <!-- End: life time stats -->
        </div>
      </div>

      <!-- END PAGE CONTENT INNER -->
    </div>
  </div>
  <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<% include ./../partials/page-footer.ejs %>
<% include ./../partials/footer.ejs %>
</body>
<style>
  #datatable_ajax_wrapper .row{
    display: none;
  }
</style>
<!-- END BODY -->
</html>
